* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-size: 50px;
}

.card {
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: pink;
  color: black;
}
